*.bz2
*.cfm
*.cfc
*.gif
*.png
*.jar
*.xml
*.md
*.pdf
*.java
*.sqlite3
build/my-languages.so
build/my-languages.lib
build/my-languages.exp
_pycache_/imports.cpython-311.pyc
__pycache__/imports.cpython-311.pyc

*.pyc
tree-sitter-java/
build/*
tree-sitter-java/*
GP GUI Base/electron-react-app/package-lock.json
GP GUI Base/electron-react-app/package.json
/.ipynb_checkpoints

/Dataset
/uploads
