@import '~bootstrap/dist/css/bootstrap.min.css';
.progress{
  background-color: #5c8374;
  font-size: 25px;
  font-weight: 500;
}
.progress-bar{
  background-color: #092635;
}
.progress-label
{
  font-size: 25px;
  font-weight: 500;
}
.btn-primary
{
  background-color: #092635 !important;
  border-color: #092635 !important;
  color: white !important;
}
.page-link{
  color: #092635;
 
}