@import '~bootstrap/dist/css/bootstrap.min.css';
.progress-container {
    width: 60%;
    background-color: #5c8374 !important;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

  }
  
  .progress-bar {
    width: 0%;
    height: 15px;
    transition: width 1s ease-in-out;
    border-radius: 10px;
  }
