@import "~bootstrap/dist/css/bootstrap.min.css";

/* .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

.main-content {
  display: flex;
}
.LoadingBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProcessingProject {
  color: #092635;
  padding: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.progress-container {
  width: 60%;
  background-color: #5c8374;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  border-radius: 10px;
}

.progress-bar {
  width: 0%;
  height: 15px;
  transition: width 1s ease-in-out;
  border-radius: 10px;
}

.ThisMighTakeFew {
  color: #092635;
  padding: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

body {
  background: white;
}

.LoadingText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg {
  font-family: "Russo One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}
svg text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #092635;
  font-size: 140px;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: #092635;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: #092635;
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: #092635;
    stroke-width: 3;
  }
  100% {
    fill: #092635;
    stroke: #092635;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
.file-upload {
  margin-top: 20px;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload label {
  background-color: #5c8374;
  border-color: #5c8374;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.file-upload label:hover {
  background-color: #4b6e61;
  border-color: #4b6e61;
}

.file-upload button {
  background-color: #1b4242;
  border-color: #1b4242;
  color: white;
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.file-upload button:hover {
  background-color: #123434;
  border-color: #123434;
}
