/* FilesDisplay.css */

.circle-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: rgba(9, 53, 38, 0.683); 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;

}

.big-circle-details {

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-align: center;

}
.big-circle:hover{
  transform: scale(1.1);
  transition: transform 1s;
}
.big-circle:hover .big-circle-details {
  opacity: 1;
}
.small-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background:  #5c8374;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  position: absolute;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 -4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease;
  cursor: pointer; 
 
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}

.small-circle-1 {
  animation: rotate 10s linear infinite; 
}

.small-circle-2 {
  animation: rotate 10s linear infinite; 
  animation-delay: 2s; 
}

.small-circle-3 {
  animation: rotate 10s linear infinite; 
  animation-delay: 4s; 
}

.small-circle-4 {
  animation: rotate 10s linear infinite; 
  animation-delay: 6s; 
}

.small-circle-5 {
  animation: rotate 10s linear infinite; 
  animation-delay: 8s; 
}

.circle-name {
  opacity: 1;
  transition: opacity 0.3s ease; 
}

.circle-score {
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.small-circle.clicked .circle-name {
  opacity: 0;
}

.small-circle.clicked .circle-score {
  opacity: 1;
}

.big-circle-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.icon-container {
  display: flex;
  flex-direction: column;
}

.icon-text-container {
  display: flex;
  align-items: center;
}

.icon-text-container svg {
  margin-right: 5px; 
}

.talabat
{
  background-color: white !important;
  box-shadow: none !important;
  border-color: white !important;
  align-items: center;
  margin-bottom: 20px;
}
.enterurl
{
  font-size: 40px !important;
}
.searchee
{
  width: 60%;
  margin-top: 10px !important;
  padding: 10px;
}
.buttonurl
{
  margin-left: 30px;
  margin-top: 10px;
}