@import "~bootstrap/dist/css/bootstrap.min.css";
.header {

  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.hyperpages {
  padding: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 20px;
  margin-top: 5px;
  transition-duration: 0.2s;
}
.hyperpages:hover {
  text-decoration: underline !important;
}
.activeLink {
  text-decoration: underline !important;
}
.LOGONAME{
  font-size: 28px; 
  font-weight: 700;
  color: #092635;
  margin-left: 10px; 
}
.header-line {
  border: 0;
  height: 1px;
  background: #092635; 
  margin: 0;
  margin-top: 10px; 
}